<div class="position-relative overflow-hidden p-3 m-md-1 bg-light">
  <form>
    <h2>Buscar Alumnos</h2><br>

    <div class="form-group row">
      <label class="col-sm-4 p-2 col-form-label font-weight-bold">Por matricula</label>
      <div class="col-sm-8 pull-left text-left">
        <input type="text" class="form-control" name="matricula" [(ngModel)]="matricula" placeholder="Matricula . ." [ngModelOptions]="{standalone: true}">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="form-group row">
      <label class="col-sm-4 p-2 col-form-label font-weight-bold">Por nombre(s)</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" name="nombre" [(ngModel)]="nombre" placeholder="Nombre(s) . ." [ngModelOptions]="{standalone: true}">
      </div>
    </div>

    <hr class="featurette-divider">

    <label class="col-sm-4 p-2 col-form-label font-weight-bold">Por grupo</label>
    <div class="form-group row">
      <div class="col-sm-4">
        <label class="col-sm-4 p-1 col-form-label">Nivel</label>
        <select class="form-control" name="nivel" [(ngModel)]="nivel" placeholder="Nivel . ." [ngModelOptions]="{standalone: true}">
          <option *ngFor="let nivel_ of niveles" [value]="nivel_">{{nivel_}}</option>
        </select>
      </div>
      <div class="col-sm-4">
        <label class="col-sm-4 p-1 col-form-label">Grado</label>
        <input type="number" class="form-control" name="grado" [(ngModel)]="grado" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="col-sm-4">
        <label class="col-sm-4 p-1 col-form-label">Grupo</label>
        <input type="text" class="form-control" name="grupo" [(ngModel)]="grupo" [ngModelOptions]="{standalone: true}">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-12" *ngIf="matricula && !nombre && !nivel && !grado && !grupo">
        <button type="submit" (click)="buscarAlumnoMatricula()" class="btn btn-success btn-md btn-block">Buscar</button>
      </div>
      <div class="col-sm-12" *ngIf="!matricula && nombre && !nivel && !grado && !grupo">
        <button type="submit" (click)="buscarAlumnosNombre()" class="btn btn-success btn-md btn-block">Buscar</button>
      </div>
      <div class="col-sm-12" *ngIf="!matricula && !nombre && nivel && grado && grupo">
        <button type="submit" (click)="buscarAlumnosGrupo()" class="btn btn-success btn-md btn-block">Buscar</button>
      </div>
    </div>
  </form>
</div>

<hr *ngIf="alumnos" class="featurette-divider">
<div *ngFor="let alumno of alumnos" class="overflow-hidden position-relative p-4 m-md-1 bg-light">
  <div class="row">
    <div class="col-md-9 pull-left text-left">
      <h4 class="list-group-item-heading m-1">{{ alumno.nombre }} {{ alumno.paterno }} {{ alumno.materno }}</h4>
      <div class="row">
        <div class="col-md-12">
          <p class="font-weight-bold text-uppercase m-1">Matricula: <a style="font-weight: normal; text-transform: none;">{{ alumno.matricula }}</a></p>
          <p class="font-weight-bold text-uppercase m-1">CURP: <a style="font-weight: normal; text-transform: none;">{{ alumno.curp }}</a></p>
          <p class="font-weight-bold text-uppercase m-1">Nivel: <a style="font-weight: normal; text-transform: none;">{{ alumno.nivel }}</a></p>
          <p class="font-weight-bold text-uppercase m-1">Grado: <a style="font-weight: normal; text-transform: none;">{{ alumno.grado }}</a></p>
          <p class="font-weight-bold text-uppercase m-1">Grupo: <a style="font-weight: normal; text-transform: none;">{{ alumno.grupo }}</a></p>
          <p class="font-weight-bold text-uppercase m-1">Nacimiento: <a style="font-weight: normal; text-transform: none;">{{ alumno.fechaNacimiento }}</a></p>
          <p class="font-weight-bold text-uppercase m-1">Padre o tutor: <a style="font-weight: normal; text-transform: none;">{{ alumno.padre }}</a></p>
          <p class="font-weight-bold text-uppercase m-1">Teléfono: <a style="font-weight: normal; text-transform: none;">{{ alumno.numero }}</a></p>
          <p class="font-weight-bold text-uppercase m-1">Email: <a style="font-weight: normal; text-transform: none;">{{ alumno.email }}</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-3 pull-right">
      <br>
      <button type="button" (click)="verAlumno(alumno.matricula)" class="btn btn-info btn-md btn-block" style="overflow: hidden !important; padding: 0.5rem 0.5rem !important;">Ver</button>
      <br><br>
      <button type="button" (click)="eliminarAlumno(alumno.nombre, alumno.paterno, alumno.materno, alumno.matricula)" class="btn btn-danger btn-md btn-block" style="overflow: hidden !important; padding: 0.5rem 0.5rem !important;">Eliminar</button>
    </div>
  </div>
</div>

<hr *ngIf="alumno" class="featurette-divider">
<div *ngIf="alumno" class="overflow-hidden position-relative p-4 m-md-1 bg-light">
  <div class="row">
    <div class="col-md-9 pull-left text-left">
      <h4 class="list-group-item-heading m-1">{{ alumno.nombre }} {{ alumno.paterno }} {{ alumno.materno }}</h4>
      <div class="row">
        <div class="col-md-12">
          <p class="font-weight-bold text-uppercase m-1">Matricula: <a style="font-weight: normal; text-transform: none;">{{ alumno.matricula }}</a></p>
          <p class="font-weight-bold text-uppercase m-1">CURP: <a style="font-weight: normal; text-transform: none;">{{ alumno.curp }}</a></p>
          <p class="font-weight-bold text-uppercase m-1">Nivel: <a style="font-weight: normal; text-transform: none;">{{ alumno.nivel }}</a></p>
          <p class="font-weight-bold text-uppercase m-1">Grado: <a style="font-weight: normal; text-transform: none;">{{ alumno.grado }}</a></p>
          <p class="font-weight-bold text-uppercase m-1">Grupo: <a style="font-weight: normal; text-transform: none;">{{ alumno.grupo }}</a></p>
          <p class="font-weight-bold text-uppercase m-1">Nacimiento: <a style="font-weight: normal; text-transform: none;">{{ alumno.fechaNacimiento }}</a></p>
          <p class="font-weight-bold text-uppercase m-1">Padre o tutor: <a style="font-weight: normal; text-transform: none;">{{ alumno.padre }}</a></p>
          <p class="font-weight-bold text-uppercase m-1">Teléfono: <a style="font-weight: normal; text-transform: none;">{{ alumno.numero }}</a></p>
          <p class="font-weight-bold text-uppercase m-1">Email: <a style="font-weight: normal; text-transform: none;">{{ alumno.email }}</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-3 pull-right">
      <br>
      <button type="button" (click)="verAlumno(alumno.matricula)" class="btn btn-info btn-md btn-block" style="overflow: hidden !important; padding: 0.5rem 0.5rem !important;">Ver</button>
      <br><br>
      <button type="button" (click)="eliminarAlumno(alumno.nombre, alumno.paterno, alumno.materno, alumno.matricula)" class="btn btn-danger btn-md btn-block" style="overflow: hidden !important; padding: 0.5rem 0.5rem !important;">Eliminar</button>
    </div>
  </div>
</div>
